@import "primeflex/primeflex.css";
/* *********************************************************************************** */
.p-fluid {
  display: flex;
  flex-direction: column;
  position: relative; /* Para posicionamento absoluto das mensagens */
  padding-bottom: 20px; /* Espaço fixo para as mensagens de erro */
}

.p-fluid label {
  margin-bottom: 0.5rem; /* Adiciona um pequeno espaço entre o texto e o campo */
  font-weight: bold;     
}
/* *********************************************************************************** */
/* Seleciona os botões e o link dentro da div de ações */
.col-12 button, 
.col-12 a {
  margin-right: 5px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.w-full {
  width: 100%;
}