<div class="container">
  <form #form="ngForm" (ngSubmit)="salvar(form)">
    <div class="grid">
      <div class="col-12">
        <h1 class="mb-4">
        {{ editando ? 'Editar Lançamento' : 'Novo Lançamento' }}
        </h1>
      </div>

      <div class="col-12">
        <p-selectButton 
          [options]="tipos"
          [(ngModel)]="tipoSelecionado"
          name="tipo">></p-selectButton>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Vencimento</mat-label>
          <input 
            name="vencimento" matInput 
            [matDatepicker]="pickerVencimento"
            [(ngModel)]="dataVencimento"
            [required]="true">
          <mat-datepicker-toggle matIconSuffix [for]="pickerVencimento"></mat-datepicker-toggle>
          <mat-datepicker #pickerVencimento></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-6 md:col-3 p-fluid">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{ tipoSelecionado === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</mat-label>
          <input 
            name="tipo" matInput
            [matDatepicker]="pickerRecebimento"
            [(ngModel)]="dataRecebimento">
          <mat-datepicker-toggle matIconSuffix [for]="pickerRecebimento"></mat-datepicker-toggle>
          <mat-datepicker #pickerRecebimento></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-12 md:col-9 p-fluid">
        <label>Descrição</label>
        <input pInputText name="descricao" ngModel #descricao="ngModel" [required]="true" minlength="5" [maxLength]="30" type="text">
        <app-message [control]="descricao.control" error="required" text="Informe uma descrição"></app-message>
        <app-message [control]="descricao.control" error="minlength"
          text="Mínimo de {{ descricao.errors?.['minlength']?.requiredLength }} caracteres. Você digitou apenas {{ descricao.errors?.['minlength']?.actualLength }}">
        </app-message>
      </div>
      <div class="col-12 md:col-3 p-fluid">
        <label>Valor</label>
        <p-inputNumber name="valor" [(ngModel)]="valorLancamento" mode="currency" 
               currency="BRL" locale="pt-BR" [required]="true"></p-inputNumber>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Categoria</mat-label>
           <mat-select name="categoria" [(ngModel)]="categoriaSelecionada" [required]="true">
            <mat-option>
      <ngx-mat-select-search
          [formControl]="categoriaFilterCtrl"
          placeholderLabel="Pesquisar categoria"
          noEntriesFoundLabel="Nenhuma categoria encontrada"
          (keydown.enter)="onEnterSelectFirst($event, 'categoria')">
        </ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let cat of filteredCategorias" [value]="cat.value">
      {{ cat.label }}
    </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Pessoa</mat-label>
          <mat-select name="pessoa" [(ngModel)]="pessoaSelecionada" [required]="true">
            <mat-option>
        <ngx-mat-select-search
          [formControl]="pessoaFilterCtrl"
          placeholderLabel="Pesquisar pessoa"
          noEntriesFoundLabel="Nenhuma pessoa encontrada"
          (keydown.enter)="onEnterSelectFirst($event, 'pessoa')">
        </ngx-mat-select-search>
      </mat-option>
            <mat-option *ngFor="let pessoa of filteredPessoas" [value]="pessoa.value">
        {{ pessoa.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea name="observacao" [(ngModel)]="observacao" rows="3" [maxLength]="100"></textarea>
      </div>
      <div class="col-12">
         <button pButton type="submit" icon="pi pi-check" [label]="editando ?
         'Atualizar' : 'Salvar'" [disabled]="form.invalid"></button>
        <button pButton type="button" icon="pi pi-plus"  label="Novo" (click)="novo()" class="p-button-info"></button>
        <button pButton type="button" 
                label="Voltar" 
                icon="pi pi-arrow-left" (click)="voltar()">         
          </button>
      </div>
    </div>
  </form>
</div>